body {
    background-color: #000000;
    color: #d1d5db;
    scroll-behavior: smooth;
}

.card {
    background-color: #0a0a0a;
    border: 1px solid #171717;
}

.section-title {
    font-size: 10px;
    font-weight: 900;
    color: #404040;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 0.75rem;
}

.btn-util {
    background-color: #171717;
    transition: all 0.2s;
    font-size: 10px;
    padding: 0.25rem 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-util:hover {
    background-color: #262626;
    color: #facc15;
}

.active-model {
    border-left: 4px solid #facc15 !important;
    background-color: #111111 !important;
    color: #facc15 !important;
}

.autosave-badge {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 10px;
    color: #facc15;
    opacity: 0;
    transition: opacity 0.5s;
    font-family: monospace;
}

.textarea-buffer {
    width: 100%;
    height: 500px;
    background-color: #000000;
    border: 1px solid #171717;
    padding: 0.75rem;
    font-size: 0.875rem;
    color: #a3a3a3;
    outline: none;
    font-family: monospace;
    transition: border-color 0.2s;
}

.textarea-buffer:focus {
    border-color: #404040;
}

.op-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    padding: 0.5rem;
    border: 1px solid #171717;
    font-family: monospace;
    font-size: 11px;
}

.btn-del-op {
    color: #ef4444;
    padding: 0 0.5rem;
    font-weight: bold;
    cursor: pointer;
}

.btn-del-op:hover { color: #f87171; }

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #000000; }
::-webkit-scrollbar-thumb { background: #262626; border-radius: 0px; }
::-webkit-scrollbar-thumb:hover { background: #404040; }