<aside class="w-64 h-full bg-(--brand-dark) border-r border-(--brand-gray) flex flex-col font-sans">
    <nav class="flex-1 px-4 py-6 space-y-2 overflow-y-auto">
        @for (item of navItems; track item.label) {
        <a [routerLink]="item.route"
            routerLinkActive="bg-(brand-primary)/10 text-(--brand-primary) border-(--brand-primary)"
            class="flex items-center gap-3 px-4 py-3 rounded-lg text-gray-400 hover:bg-(--brand-gray) hover:text-white transition-all border-l-2 border-transparent group">
            <i class="pi" [ngClass]="item.icon" class="text-lg group-hover:scale-110 transition-transform pi"></i>
            <span class="text-sm font-medium">{{ item.label }}</span>
        </a>
        }
    </nav>

    <div class="p-4 bg-(--brand-black)/40 border-t border-(--brand-gray)/50">
        <div class="flex items-center gap-3 px-2">
            <div class="w-2 h-2 rounded-full bg-green-500 shadow-[0_0_8px_rgba(34,197,94,0.5)]"></div>
            <span class="text-[10px] text-gray-500 font-bold uppercase tracking-widest">Servidor Online</span>
        </div>

        @if (authService.currentUser().role === 'SUPERVISOR') {
        <div class="mt-4 px-2 py-2 bg-(brand-primary)/5 border border-(brand-primary)/20 rounded-md">
            <p class="text-[10px] text-(--brand-primary) font-bold leading-tight">MODO SUPERVISOR</p>
            <p class="text-[9px] text-gray-400">Acesso total às permissões</p>
        </div>
        }
    </div>
</aside>